<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>申诉审批</title>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/style.css">
</head>
<body>
<!-- 返回按钮 -->
<a href="/teacher/clockRecordJudge">
    <div class="back-to-index">
        <img class="image" src="../../../static/images/return.png"/>
        <span>返回</span>
    </div>
</a>
<br/>
<br/>
<div class="container mt-4">
    <!-- 学生信息 -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">学生信息</h5>
            <p class="theMain">申诉编号:
                <abc th:text="${session.appeal.appealNo}" class="first"></abc>
            </p>
            <p>姓名:
                <abc th:text="${session.appeal.student.SName}"></abc>
            </p>
            <p>学号:
                <abc th:text="${session.appeal.SNo}"></abc>
            </p>
            <p>班级:
                <abc th:text="${session.appeal.student.stuClass.className}"></abc>
            </p>
        </div>
    </div>

    <!-- 请假信息 -->
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">考勤信息</h5>
            <p>课程:
                <abc th:text="${session.appeal.clockRecord.course.courseName}"></abc>
            </p>
            <p>时间:
                <abc th:text="${session.appeal.clockRecord.time}"></abc>
            </p>
            <p>申诉理由:
                <abc th:text="${session.appeal.reason}"></abc>
            </p>
        </div>
    </div>

    <!-- 通过和不通过按钮 -->
    <div class="mt-4">
        <button class="btn btn-success" id="yes">通过</button>
        <button class="btn btn-danger" id="no">不通过</button>
    </div>
</div>

<!-- 引入 Bootstrap JavaScript，确保在 </body> 标签之前引入 -->
<script src="../../../static/js/bootstrap.min.js"></script>
<script src="../../../static/js/jquery.js"></script>
<script>
    $('#yes').click(function () {
        var theMain = $(this).parent().parent();
        var first = theMain.find(".first").text();
        $.post("/teacher/updateClockStatus", {
            "result": 1,
            "appealNo": first
        }, function () {
            window.location.href = "/teacher/clockRecordJudge";
        })
    })
    $('#no').click(function () {
        var theMain = $(this).parent().parent();
        var first = theMain.find(".first").text();
        $.post("/teacher/updateClockStatus", {
            "result": 2,
            "appealNo": first
        }, function () {
            window.location.href = "/teacher/clockRecordJudge";
        })
    })
</script>
</body>
</html>