<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../static/css/style.css" rel="stylesheet"/>
    <link href="../../../static/css/manageStudent.css" rel="stylesheet"/>
    <link href="../../../static/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css" rel="stylesheet"/>
    <title>活动管理</title>
</head>

<body>
<!-- 返回主页 -->
<a href="/student/studentHome">
    <div class="back-to-index">
        <img class="image" src="../../../static/images/return.png"/>
        <span>返回</span>
    </div>
</a>

<a type="button" class="btn btn-outline-success position-absolute mt-4 end-0 translate-middle" href="/student/activityList">参加活动</a>
<div class="d-flex btn-group-vertical mt-5 col-md-10 m-auto">
    <div class="col-md-10">
        <form action="/student/activityManageSearch" method="post" class="d-flex justify-content-md-end">
            <input type="text" placeholder="请输入筛选条件" class=" rounded-2 m-0 border border-2 ps-2" name="searchContent"/>
            <button type="submit" class="btn btn-primary">筛选</button>
        </form>
    </div>
    <table class="table table-striped mt-2">
        <thead>
        <tr>
            <th scope="col">活动编号</th>
            <th scope="col">活动名称</th>
            <th scope="col">活动类型</th>
            <th scope="col">开始时间</th>
            <th scope="col">结束时间</th>
            <th scope="col">主持社团</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody class="table-group-divider" th:if="${pages.list}!=null">
        <tr th:each="item:${pages.list}" class="theMain">
            <td th:text="${item.activity.activityNo}" class="activityNo"></td>
            <td th:text="${item.activity.activityName}"></td>
            <td th:if="${item.activity.type}==0">德育</td>
            <td th:if="${item.activity.type}==1">智育</td>
            <td th:if="${item.activity.type}==2">体育</td>
            <td th:if="${item.activity.type}==3">美育</td>
            <td th:if="${item.activity.type}==4">劳育</td>
            <td th:text="${item.activity.startTime}"></td>
            <td th:text="${item.activity.endTime}"></td>
            <td th:text="${item.activity.society.societyName}"></td>
            <td th:if="${item.status}==0">未签到</td>
            <td th:if="${item.status}==1">已签到</td>
            <td>
                <button type="button" class="btn btn-primary detail">详情</button>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example" th:if="${pages.pages > 1 && pages.pages <6}">
        <ul class="pagination justify-content-md-end col-md-10">
            <li class="page-item">
                <a class="page-link" aria-label="Previous" th:if="${!pages.isFirstPage}"
                   th:href="@{/student/activityManage(pageNum=${pages.hasPreviousPage}?${pages.prePage}:1)}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                <span class="page-link" aria-label="Previous" th:if="${pages.isFirstPage}">
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>
            <li class="page-item" th:each="index:${#numbers.sequence(1,pages.pages)}"
                th:class="${index==pages.pageNum?'active':''}"><a class="page-link" th:text="${index}"
                                                                  th:href="@{/student/activityManage(pageNum=${index})}"></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" th:if="${!pages.isLastPage}"
                   th:href="@{/student/activityManage(pageNum=${pages.hasNextPage}?${pages.nextPage}:${pages.pages})}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                <span class="page-link" href="#" aria-label="Next" th:if="${pages.isLastPage}">
                    <span aria-hidden="true">&raquo;</span>
                </span>
            </li>
        </ul>
    </nav>
    <nav aria-label="Page navigation example" th:if="${pages.pages >= 6}">
        <ul class="pagination justify-content-md-end col-md-10">
            <li class="page-item">
                <a class="page-link" aria-label="Previous" th:if="${!pages.isFirstPage}"
                   th:href="@{/student/activityManage(pageNum=${pages.hasPreviousPage}?${pages.prePage}:1)}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                <span class="page-link" aria-label="Previous" th:if="${pages.isFirstPage}">
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>
            <li class="page-item" th:if="${pages.pageNum > 2}"><a class="page-link"
                                                                  th:href="@{/student/activityManage(pageNum=1)}">1</a></li>
            <li class="page-item" th:if="${pages.pageNum > 3}"><span class="page-link">...</span></li>
            <li class="page-item" th:each="index:${#numbers.sequence(pages.pageNum - 1,pages.pageNum+1)}"
                th:if="${index >= 1 && index <= pages.pages}" th:class="${index==pages.pageNum?'active':''}"><a
                    class="page-link" th:text="${index}" th:href="@{/student/activityManage(pageNum=${index})}"></a></li>
            <li class="page-item" th:if="${pages.pageNum < pages.pages - 2}"><span class="page-link">...</span></li>
            <li class="page-item" th:if="${pages.pageNum < pages.pages - 1}"><a class="page-link"
                                                                                th:text="${pages.pages}"
                                                                                th:href="@{/student/activityManage(pageNum=${pages.pages})}"></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" th:if="${!pages.isLastPage}"
                   th:href="@{/student/activityManage(pageNum=${pages.hasNextPage}?${pages.nextPage}:${pages.pages})}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                <span class="page-link" href="#" aria-label="Next" th:if="${pages.isLastPage}">
                    <span aria-hidden="true">&raquo;</span>
                </span>
            </li>
        </ul>
    </nav>
</div>

<script src="../../../static/bootstrap-5.3.0-alpha1-dist/js/bootstrap.js"></script>
<script src="../../../static/js/jquery.js"></script>
<script>
    $('.detail').click(function () {
        var theMain = $(this).parent().parent();
        var activityNo = theMain.find(".activityNo").text();
        $.post("/student/studentActivityDetail", {
            "activityNo": activityNo
        }, function () {
            window.location.href = "/student/studentActivity"
        }).fail(function (data, status) {
            alert("error")
        })
    })
</script>
</body>

</html>